<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/convert.js') }}"></script>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Render</title>
  </head>

  <body>
    <p></p>

    <form class="container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a
            disable
            href="/"
            target="Render"
            onclick="return false;"
            title="This link will create a new window or will re-use an already opened one"
            >Render</a
          >
        </li>
        <li>
          <a
            href="/values"
            target="Values"
            onclick="openWindow('/values'); return false;"
            title="This link will create a new window or will re-use an already opened one"
            >Values</a
          >
        </li>
        <li>
          <a
            href="/template"
            target="Template"
            onclick="openWindow('/values'); return false;"
            title="This link will create a new window or will re-use an already opened one"
            >Template</a
          >
        </li>
      </ul>
      <div class="col-12">
        <h1>Render</h1>
        <div id="render"></div>
      </div>
    </form>
  </body>
</html>
