<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/values.js') }}"></script>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Values</title>
  </head>

  <body>
    <div class="container">
              <ul class="nav nav-tabs">
        <li>
          <input
            type="button"
            value="Render"
            title="This button will open the render page"
            onclick="window.open('','render');"
            />
        </li>
        <li>
          <input
            type="button"
            value="Template"
            title="This button will open the template page"
            onclick="window.open('','template')"
            />
        </li>
      </ul>
      <div class="row">
        <div class="col-12">
          <h1>Values</h1>
          <textarea id="values">{% include 'example_values.html' %}</textarea>
        </div>
      </div>
    </div>
  </body>
</html>
